{# @JlayBlogBundle/Resources/views/Frontend/index.html.twig #}

{% extends '@JlayBlogBundle/Resources/views/frontend.html.twig' %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('jlay_blog_frontend_index') }}">Julian Layen</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('jlay_blog_frontend_index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('jlay_blog_frontend_snippets') }}">Snippets</a>
                    </li>
                    <li>
                        <a href="{{ path('jlay_blog_frontend_way') }}">Mon parcours</a>
                    </li>
                    <li>
                        <a href="{{ path('jlay_blog_frontend_contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/chromecast/{{ random(20) }}.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Développeur Web</h1>
                        <hr class="small">
                        <span class="subheading">Symfony2, TYPO3, Drupal, Solr, Admin Sys</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </h2>

                        <h3 class="post-subtitle">
                            Sed placerat ligula quam, suscipit gravida eros vestibulum sit amet.
                        </h3>
                    </a>

                    <p class="post-meta">Posté par <a href="#">Julian Layen</a>, le 24 septembre 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                        </h2>
                    </a>

                    <p class="post-meta">Posté par <a href="#">Julian Layen</a>, le 24 septembre 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </h2>

                        <h3 class="post-subtitle">
                            Sed placerat ligula quam, suscipit gravida eros vestibulum sit amet.
                        </h3>
                    </a>

                    <p class="post-meta">Posté par <a href="#">Julian Layen</a>, le 24 septembre 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Praesent dui risus, semper vitae lorem eget, gravida viverra libero. Aliquam volutpat
                            consectetur lacinia.
                        </h2>

                        <h3 class="post-subtitle">
                            Sed placerat ligula quam, suscipit gravida eros vestibulum sit amet.
                        </h3>
                    </a>

                    <p class="post-meta">Posté par <a href="#">Julian Layen</a>, le 24 septembre 2014</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{ path('jlay_blog_frontend_posts') }}">Anciens articles &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/julianlayen">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/goumpi">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://fr.linkedin.com/pub/julian-layen/5b/7ab/822">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="skype:julian.layen?chat">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:linkTo_UnCryptMailto('nbjmup;mbzfokvmjboAhnbjm/dpn');">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Julian Layen {{ "now"|date("Y") }}</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
